*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color:dodgerblue;
    height: 100vh;
}
.container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list{
    display: flex;
    column-gap: 20px;
    
}
.nav__link{
    font-size: 20px;
    color:beige;


}
.logo{
    font-size: 33px;
    color: #fff;
}
a{
    text-decoration: none;
}
li{
 list-style: none;

}
.nav{
padding: 20px 0;
}